<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form action="/students/insert" method="POST">
      <label for="id">ID</label>
      <input for="number" id="id" name="id" /><br />

      <label for="name">name:</label>
      <input type="text" id="name" name="name" /><br />

      <label for="age">Age</label>
      <input for="number" id="age" name="age" /><br />

      <label for="merit">Merit</label>
      <input type="number" id="merit" name="merit" /><br />

      <label for="other">other</label>
      <input type="number" id="other" name="other" /><br />
      <button>Submit</button>
    </form>
  </body>
</html>
